body, html {
  margin: 0;
  overflow: hidden; /* Ne legyen görgetősáv */
  width: 100%;
  height: 100%;
  display: flex;
}

#note_window {
  width: 85%;
  height: 100%;
  background-color: #f0f0f0;
  position: relative;
}

#projects_window {
  min-width: 15%;
  height: 100%;
  border-right: #007bff 1px dashed;
  border-radius: 30px;
  overflow-y: scroll;
}

#select_box {
  position: absolute;
  background-color: #007bff6e;
  border: 1px solid #007bff;
}
.select_box_hidden {
  visibility: hidden;
  z-index: -100;
  width: 0px;
  height: 0px;
}
.select_box_visible {
  visibility: visible;
  z-index: 100;
}

#new_module_button {
  position: absolute;
  z-index: 101;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.note {
  padding: 7.5px;
  position: absolute;
  min-width: 100px;
  min-height: 25px;
  resize: both; 
  overflow: auto; 
  border: 1px solid #ccc;
  background: white;
  z-index: 5;
}
.note-selected {
  border: 2px solid #007bff;
  box-shadow: 0 0 10px rgba(0,123,255,0.5);
  z-index: 10;
}

.project_tab {

}
